.interactive-game-board {
  border: 1px solid transparent;
  position: absolute;

  .row {
      display: flex;

    .clicable-cell {
      width: 70px;
      height: 70px;
      border: 1px solid transparent;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 14px;
      cursor: pointer;

      &:hover {
        border-radius: 50px;
        background-color: #0000001a;
      }
    }
  }
}
