.interactive-game-board {
  border: 1px solid transparent;

  .row {
    display: flex;

    .clicable-cell {
      width: 70px;
      height: 70px;
      border: 1px solid transparent;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      border-radius: 50px;

      &:hover {
        background-color: #0000001a;
      }

      .player1 {
        width: 50px;
        height: 50px;
        background-color: #000000;
        border-radius: 50px;
      }

      .player2 {
        width: 50px;
        height: 50px;
        background-color: #ffffff;
        border-radius: 50px;
      }
    }
  }
}
