.page-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 20px;

  .header-game {
    margin: 0;
    margin-top: 10px;
    text-align: center;

    h1 {
      color: var(--primary);
    }

    .actions {
      margin-top: 10px;
      display: flex;
      justify-content: center;
      gap: 10px;

      button {
        padding: 10px 20px;
        border-radius: 20px;
        font-size: large;
        border: none;
        background-color: var(--secondary);
        cursor: pointer;
      }
    }

    .global-info {
      border: var(--accent) 2px solid;
      width: 25%;
      margin: 10px auto;
      border-radius: 10px;
      padding: 10px;

      .scores-table {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        margin-top: 10px;
      }
    }
  }

  /* grid superposition */
  .game-container {
    display: grid;
    justify-content: center;

    app-game-board,
    app-cells {
      grid-area: 1 / 1;
    }

    app-cells {
      z-index: 1;
    }
  }
}
