.page-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 20px;

  .header-game {
    margin: 0;
    margin-top: 10px;
    text-align: center;

    h1 {
      color: var(--primary);
    }

    .info-game {
      margin-top: 10px;

      details {
        position: relative;
        display: inline-block;
      }

      .info-bubble {
        width: 36px;
        height: 36px;
        border-radius: 50%;
        background: var(--secondary);
        color: var(--text);
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;
        cursor: pointer;
      }

      .info-panel {
        position: absolute;
        top: 45px;
        left: 50%;
        transform: translateX(-50%);
        background: var(--background);
        border: 1px solid var(--accent);
        border-radius: 10px;
        padding: 15px;
        width: 300px;
        box-shadow: 0 4px 8px #0000001a;
        z-index: 10;

        p {
          margin: 0;
          margin-bottom: 10px;
          color: var(--text);
        }
      }

    }

    .actions {
      margin-top: 10px;
      display: flex;
      justify-content: center;
      gap: 10px;

      button {
        padding: 10px 20px;
        border-radius: 20px;
        font-size: large;
        border: none;
        background-color: var(--secondary);
        cursor: pointer;
        color: var(--text);
      }
    }

    .global-info {
      border: var(--accent) 2px solid;
      width: 25%;
      margin: 10px auto;
      border-radius: 10px;
      padding: 10px;

      .scores-table {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        margin-top: 10px;
      }
    }
  }

  .game-over {
    text-align: center;
    margin: auto;
    border : var(--primary) 2px solid;
    border-radius: 20px;
    width: 30%;
    padding: 10px;

    button {
      border-radius: 20px;
      font-size: large;
      border: none;
      background-color: var(--secondary);
      cursor: pointer;
      margin-top: 10px ;
      padding: 10px 20px;
    }
  }

  /* grid superposition */
  .game-container {
    display: grid;
    justify-content: center;

    app-game-board,
    app-cells {
      grid-area: 1 / 1;
    }

    app-cells {
      z-index: 1;
    }
  }
}
