.game-board {
  border: 1px solid #000000;
  position: absolute;
  margin-left: 35px;
  margin-top: 35px;

  .row {
      display: flex;

    .display-cell {
      width: 70px;
      height: 70px;
      border: 1px solid #000000;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}




