.game-board {
  border: 1px solid transparent;
  background-color: var(--game-board-background);
  padding: 35px;
  border-radius: 15px;

  .row {
    display: flex;

    .display-cell {
      width: 70px;
      height: 70px;
      border: 1px solid var(--grid-line);
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
