.game-board {
  border: 1px solid transparent;
  background-color: #dcb35c; /* Fond bois plateau de Go */
  padding: 35px; /* Padding uniforme autour de la grille */

  .row {
    display: flex;

    .display-cell {
      width: 70px;
      height: 70px;
      border: 1px solid #000000;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}




