.game-board {
  display: inline-block;
  border: 1px solid #ccc;

  .row {
      display: flex;

    .display-cell {
      width: 70px;
      height: 70px;
      border: 1px solid #999;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 14px;
    }
  }
}




